<form (ngSubmit)="guardarFactura()">
  <div class="container mt-4">
    <h1>Facturas de Gasto</h1>

    <div class="form-group">
      <label for="ruc" class="form-label">RUC:</label>
      <input type="text" class="form-control" id="ruc" name="ruc" [(ngModel)]="ruc" maxlength="12" pattern="\d{12}" required>
      <div *ngIf="ruc && ruc.length > 12" class="text-danger">
        El RUC debe tener exactamente 12 caracteres.
      </div>
    </div>
    
    <div class="form-group mt-3">
      <label for="valor" class="form-label">Valor de factura:</label>
      <input type="number" class="form-control" id="valor" name="valor" [(ngModel)]="valor" required>
    </div>

    <div class="form-group mt-3">
      <label for="empresa" class="form-label">Empresa:</label>
      <input type="text" class="form-control" id="empresa" name="empresa" [(ngModel)]="empresa" required>
    </div>
    
    <div class="form-group mt-3">
      <label for="gasto" class="form-label">Gasto:</label>
      <select class="form-select" id="gasto" name="gasto" [(ngModel)]="gasto" required>
        <option value="" disabled selected>Escoja el tipo de gasto</option>
        <option value="Salud">Salud</option>
        <option value="Vivienda">Vivienda</option>
        <option value="Educacion">Educación</option>
        <option value="Vestimenta">Vestimenta</option>
        <option value="Alimentación">Alimentación</option>
        <option value="Ninguno">Ninguno</option>
      </select>
    </div>
    
    <div class="mt-3">
      <p><strong>RUC:</strong> {{ ruc }}</p>
      <p><strong>VALOR:</strong> {{ valor }}</p>
      <p><strong>TIPO GASTO:</strong> {{ gasto }}</p>
    </div>
    
    <div class="mt-4">
      <button type="submit" class="btn btn-primary mx-3">Agregar</button>
      <button type="reset" class="btn btn-secondary">Limpiar</button>
    </div>
  </div>
</form>