<div>
  <h1>Informacion</h1> 
  <ul>
    <li *ngFor="let deducible of deducibles" class="deducible-item">
      <div class="card" style="width: 80rem;">
        <div class="card-body">
          <h2 class="card-title">{{ deducible.nombre }}</h2> <!-- Changed from <h5> to <h2> -->
          <img [src]="deducible.imagen" alt="{{ deducible.nombre }}" class="deducible-imagen">
          <p class="card-text">Descripción del deducible: <b>{{ deducible.descripcion }}</b></p>
          <button (click)="informaciongasto(deducible)" class="btn btn-primary mx-1">Información</button>
          <button (click)="borrarDeducible(deducible)" class="btn btn-warning mx-1">Borrar Deductible</button>
        </div>
      </div>
    </li>
  </ul>
</div>