
<nav class="d-flex justify-content-around">
    <a routerLink="/usuario" class="text-decoration-none nav-item mx-3 p-2">Usuario</a>
    <a routerLink="/informacion" class="text-decoration-none nav-item mx-3 p-2">Información</a>
    <a routerLink="/registro" class="text-decoration-none nav-item mx-3 p-2">Registro de Facturas</a>
    <a routerLink="/reporte" class="text-decoration-none nav-item mx-3  p-2">Reporte</a>
    <a routerLink="/impuesto" class="text-decoration-none nav-item mx-3 p-2 ">Impuesto a la renta(2023)</a>
</nav>